[submodule "deps/nix-haskell"]
	path = deps/nix-haskell
	url = https://github.com/reflex-frp/nix-haskell.git
[submodule "deps/reflex-dom"]
	path = deps/reflex-dom
	url = https://github.com/ymeister/reflex-dom.git
[submodule "deps/beam"]
	path = deps/beam
	url = https://github.com/augyg/beam.git
	branch = master
[submodule "deps/beam-automigrate"]
	path = deps/beam-automigrate
	url = https://github.com/Ace-Interview-Prep/beam-automigrate.git
	branch = gs/bump-del-sequence-priority
[submodule "deps/bytestring-aeson-orphans"]
	path = deps/bytestring-aeson-orphans
	url = https://github.com/obsidiansystems/bytestring-aeson-orphans.git
	branch = release/0.1.0.1
[submodule "deps/gargoyle"]
	path = deps/gargoyle
	url = https://github.com/obsidiansystems/gargoyle.git
	branch = develop
[submodule "deps/monoid-map"]
	path = deps/monoid-map
	url = https://github.com/TypifyDev/monoid-map.git
	branch = gs/jenga-port
[submodule "deps/obelisk-oauth"]
	path = deps/obelisk-oauth
	url = https://github.com/TypifyDev/obelisk-oauth.git
	branch = gs/jenga-port
[submodule "deps/postgresql-lo-stream"]
	path = deps/postgresql-lo-stream
	url = https://github.com/TypifyDev/postgresql-lo-stream.git
	branch = gs/jenga-port
[submodule "deps/postgresql-simple-interpolate"]
	path = deps/postgresql-simple-interpolate
	url = https://github.com/obsidiansystems/postgresql-simple-interpolate.git
	branch = master
[submodule "deps/rhyolite"]
	path = deps/rhyolite
	url = https://github.com/TypifyDev/rhyolite.git
	branch = gs/jenga-port
[submodule "deps/vessel"]
	path = deps/vessel
	url = https://github.com/obsidiansystems/vessel.git
	branch = release/0.3.0.0-r1
[submodule "deps/servant-jsaddle"]
	path = deps/servant-jsaddle
	url = https://github.com/TypifyDev/servant-jsaddle.git
	branch = master
[submodule "deps/servant-snap"]
	path = deps/servant-snap
	url = https://github.com/TypifyDev/servant-snap.git
	branch = gs/jenga-port
